*{margin: 0; padding: 0}
@function px($px) {
  @return $px / $designWidth * 10 + rem;
}

$designWidth : 640;

.child {
  background: #ddd;
}

body {
  font-size: 16px;
}

.child {
  float: left;
  width: px(256);
  height: px(128);
  margin: px(32) px(32);
  font-size: 1.2em;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
