*{margin: 0; padding: 0}

.child {
  background: #ddd;
}

body {
  font-size: 16px;
}

.child {
  float: left;
  width: 4rem;
  height: 2rem;
  margin: .5rem .5rem;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
